<nav class="navbar navbar-default display">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <a class="navbar-brand title" href="#">Inventory</a>
                <li><a routerLink="parts">Parts</a></li>
                <li><a routerLink="suppliers">Suppliers</a></li>
                <li><a href="#">Reorder</a></li>
                <li><a href="#">Employees</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </div>
    </div>
</nav>
