<div class="row">
    <div class="col-xs-6">
        <label>ID</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-xs-6">
        <label>Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-xs-6">
        <label>Phone</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-xs-6">
        <label>State</label>
        <input type="text" class="form-control">
    </div>
</div>   
<button class="btn btn-success">Update</button>
<hr> 
