.login-wrap{
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: #fff;
    border: solid 1px black;
    height: 325px;
    border-radius: 10px;
}

.blur{
    backdrop-filter: blur(5px);
}

h1{
    text-align: center;
    padding: 20px;
    font-weight: 550;
}
