<div class="all">    
    <div class="row">
        <div class="col-xs-12">
            <h3>Supplier Display</h3>
            <button type="button" class="btn btn-primary">
                Add Supplier
            </button>
        </div>  
    </div>
    <hr>
    <div class="row display">
        <div class="col-xs-12">
            <app-supplier-edit *ngIf="this.edit"></app-supplier-edit>
            <input type="text" [(ngModel)]="supplierName" placeholder="Search Supplier" class="form-control">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">State</th>
                        <th scope="col" *ngIf="!this.edit">Edit</th>
                    </tr>
                </thead>
                <tbody *ngFor="let post of loadedPosts | textFilter: supplierName">
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.Name }}</td>
                        <td>{{ post.Phone }}</td>
                        <td>{{ post.State }}</td>
                        <td *ngIf="!this.edit"><button class="btn btn-primary" (click)="onClick(post)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>