<div class="all">    
    <div class="row">
        <div class="col-xs-12">
            <h3>Supplier Display</h3>
            <button type="button" class="btn btn-primary" (click)="onFetchPosts()">
                Edit Supplier
            </button>
        </div>  
    </div>
    <hr>
    <div class="row display">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ loadedPosts[0].id }}</th>
                        <td>{{ loadedPosts[0].name }}</td>
                        <td>{{ loadedPosts[0].phone }}</td>
                        <td>{{ loadedPosts[0].state }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>